body{
    background-color: #ede2f0;
    color: #400a4c;
    margin: 0;
}
#navbarTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbarTop div:not(#navbarTopRightInner){
    padding: 0.7vw;
}
#navbarTitle{
    width: 30vw;
}
#navbarTitle h1{
    margin: 0;
    font-size: 1.5vw;
}
#navbarTopRight{
    background: rgb(64,10,76);
    background: linear-gradient(25deg, rgba(64,10,76,1) 25%, rgba(118,56,64,1) 69%, rgba(143,77,58,1) 88%, rgba(198,123,46,1) 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    width: 50vw;
    display: flex;
    justify-content: end;
}
#navbarTopRightInner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
}
#navbarTopRightInner a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8vw;
}
#navbarTop img{
    width: 2vw;
    padding: 0 1vw;
}
#navbarBot ul{
    display: flex;
    justify-content: space-evenly;
}
ul{
    list-style: none;
    padding: 0;
}
#firstBloc{
    display: flex;
    justify-content: center;
    align-items: center;
}
#firstBloc > div{
    width: 40vw;
    display: flex;
    justify-content: center;
}
#firstBloc ~ div{
    height: 30vh;
}
#firstBloc img{
    width: 40vw;
}
#blocPresentation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border: 1vw solid #400a4c;
    border-radius: 10px;
    box-shadow: rgba(64, 10, 76, 0.1) 0px 4px 16px, rgba(64, 10, 76, 0.1) 0px 8px 24px, rgba(64, 10, 76, 0.1) 0px 16px 56px;
    padding-bottom: 1vw;
}
#blocPresentation h2{
    background-color: #400a4c;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1.2vw 0;
    margin: 0;
    font-size: 1.2vw;
    box-shadow: rgba(64, 10, 76, 0.35) 0px 25px 20px -20px;
}
#blocPresentation ul{
    background-color: #400a4c;
    opacity: 0.7;
    color: white;
    width: 100%;
    padding: 1vw 0;
    text-align: center;
}
#blocPresentation ul li{
    padding: 0.2vw 0;
    font-size: 1.2vw;
}
#blocPresentation a{
    padding: 0.5vw 1vw;
    text-decoration: none;
    color: #400a4c;
    font-weight: bolder;
    font-size: 1.2vw;
    border: 2px solid rgb(198,123,46);
    border-radius: 15px;
}
#secondBloc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#secondBloc img{
    width: 10vw;
}
#secondBloc > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}